services:
  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    environment:
      - DB_HOST=db
      - MYSQL_ROOT_PASSWORD=password
    depends_on:
      db:
        condition: service_healthy
    user: root
    command: ./bin/rails server -b 0.0.0.0

  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
